
.conteiner {
    width: 1336px;
    margin: 0 auto;
    background-color: #FFFFFF;
}

.team-info {
    flex-wrap: wrap;
    display: flex;
    justify-content: space-between;
    align-content: space-between;
    height: 908px;

}

.team-block {
    width: 310px;
    height: 430px;
    border: 1px solid #000;
    /* padding: 0 0 16px 0;
    background-color: #FFFFFF; */
}

.text-block{
    width: 760px;
    margin: 0 auto;
    background-color: #FFFFFF00;
    text-align: center;
}
.text1{
    height: 26px;
    width: 716px;
    font-size: 16px;
    color: #282828;
   margin-bottom: 4px;
    font-family: 'Open Sans', sans-serif;
    font-weight: 600px;
    padding: 0 310px;
    word-wrap: break-word;
    
}
.text2{
    width: 716px;
    height: 62px;
    font-size: 54px;
    color: #282828;
    margin-bottom: 16px;
    margin-top: 4px;
    font-weight: 600px;
    font-family: 'Open Sans', sans-serif;
    word-wrap: break-word;
}
.text3 {
    width: 760px;
    height: 70px;
    font-size: 20px;
    color: #5F6980;
    font-family: 'Open Sans', sans-serif;
    font-weight: 400px;
    word-wrap: break-word;
    text-align: center;
}

.social{
    display: flex;
    width: 140px;
    height: 36px;
    margin-top: 24px;
    justify-content: space-between;
}
.footer{
    width: 1654px;
    height: 512px;
    display: flex;
    background-color: #53535354;
}
.footer-img{
    
}
.div-img{
    width: 318.05px;
    height: 221px;
    margin-top: 108px;
    margin-left: 164px;
}
.footer-txt{
    margin-top: 32px;
    margin-bottom: 28px;
}
.ul5{
    margin-top: 108px;
    margin-left: 150px;

}
.footer-h{
margin-bottom: 71px;
font-weight: 600;
size: 20cm;
}
.div-conteiner{
    display: flex;
}
.home{
    margin-bottom: 15px;

}
.about{
    margin-bottom: 15px;

}
.get{
    margin-bottom: 15px;
}
.div9{
    margin-top: 108px;
    margin-left:100px;
}
.top1{
    margin-bottom: 55px;
    color:  #1E1E1E;
    font-weight: 600;
    
}
.top2{
    margin-bottom: 15px;
}
.top3{
    margin-bottom: 15px;
}
.top4{
    margin-bottom: 15px;
}
.top5{
    margin-left: 163px;
    margin-top: 108px;
    font-weight: 600;
}
.top6{
    margin-left: 163px;
    margin-top: 108px;
    background: #054A68;
    width: 80px;
    height: 45px;

}